#alertBox {
    position: absolute;
    top: 100px;
    left: 100px;
    border: solid 1px black;
    background-color: #528CE0;
    padding: 50px;
    visibility: hidden;
}

#alertClose {
    position: absolute;
    right: 0;
    top: 0;
    background-color: black;
    border: solid 1px white;
    color: white;
    width: 1em;
    text-align: center;
    cursor: pointer;
}