* {
    font-family: 'Quicksand', sans-serif;
}

html {
    background-color: #fbbd01;
}

p {
    color: rgb(0, 191, 255);
    font-weight: 600;
}

a {
    font-weight: 700;
    border-bottom: 1px dotted rgb(0, 140, 255);
    color: rgb(0, 255, 255);
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #a2d6ff;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(0, 0, 0);
    overflow: hidden;

}

a:hover {
    color: red;
    font-weight: 700;
    border-bottom: 1px dotted red;
}

h1 {
    word-break: break-all;
    color: turquoise;
    font-weight: 700;
    border-bottom: 2px solid rgb(0, 60, 255);
    text-shadow: 3px 3px 1px rgb(0, 0, 0);
}

li {
    color: rgb(255, 0, 0);
    font-weight: 700;

}

.editor-note {
    color: red;


}

.vertical, .horizontal {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: red;
    height: 200px;
}

.horizontal {
    flex-direction: row;
}

.vertical div, .horizontal div {
    background-color: aqua;
    margin: 10px;
}

.grow {
    flex-grow: 1;

}

strong {
    font-weight: 700;
    border-top: 1px solid rgb(0, 60, 255);
    border-bottom: 1px solid rgb(0, 60, 255);
}