* {
    font-family: 'Quicksand', sans-serif;
}

p {
    color: rgb(0, 191, 255);
    font-weight: 600;
}

a {
    font-weight: 700;
    border-bottom: 1px dotted rgb(0, 60, 255)
}


a:hover {
    color: red;
    font-weight: 700;
    border-bottom: 1px dotted red;
}

h1 {
    color: turquoise;
    font-weight: 700;
    border-bottom: 2px solid rgb(0, 60, 255)
}

li {
    color: darkgoldenrod;
    font-weight: 700;

}

.editor-note {
    color: red;


}

strong {
    font-weight: 700;
    border-top: 1px solid rgb(0, 60, 255);
    border-bottom: 1px solid rgb(0, 60, 255);
    background-color: white;
}