.msgBox {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 242px;
    background: #eee;
    border: 5px solid #333;
    border-radius: 5px;
}

.msgBox p {
    line-height: 1.5;
    padding: 10px 20px;
    color: #333;
    padding-left: 82px;
    background-position: 25px center;
    background-repeat: no-repeat;
}

.msgBox button {
    background: none;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.1rem;
    color: #aaa;
}